.main-sidebar {
    background-image: linear-gradient(to bottom, #96CB48 , #04B157 ) !important;
    font-size: 1rem !important;
}

.user-panel .image {
    padding-top: 0.5rem !important;
}

.sidebar a {
    color: #000000 !important;
}
.nav-sidebar > .nav-item.menu-open > .nav-link{
    background-color: rgba(146, 182, 93, 0.5) !important;
}
.nav-sidebar > .nav-item > .nav-treeview {
   background-color: rgba(255, 255, 255, 0.1) !important;
}
.nav-sidebar > .nav-item > .nav-link:focus {
    background-color: rgba(117, 145, 74, 0.5) !important;
}
.nav-sidebar > .nav-item.menu-open > .nav-link {
    background-color: rgba(117, 145, 74, 0.5) !important;
}
.nav-item > .nav-link:focus {
    background-color: rgba(117, 145, 74, 0.5) !important;
}

.nav-link:hover{
    background: rgba(117, 145, 74, 0.8)  !important;
}


